@import '../../scss/basic/variables';



.page {
  display: table;
  width: 96%;
  height: 100%;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  background: #f4f1f1;
}

@media screen and (min-width: 960px) {
  .page {
    width: 960px;
  }
}