@import '../../scss/basic/variables';


.menu {
  display: block;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    text-align: center;
  }

  &__item {
    position: relative;
    display: inline-block;

    &:hover {
      background: $menu-color;
    }
  }

  &__link {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
  }

  &__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    background: $menu-color;
  }

  &__submenu-link {
    display: block;
    padding: 8px 15px;
    color: #000;
    text-align: left;
    text-decoration: none;
    transition: .3s;
    white-space: nowrap;
    
    &:hover {
      background: $menu-hover;
    }

  }
}


@media screen and (min-width: 960px) {
  .menu__item:hover .menu__submenu {
    opacity: 1;
    visibility: visible;
    transition: .3s;
  }
}

